@charset "UTF-8";

body {
    min-height: 100vh;
    background-image: url(images/pexels-eva-bronzini-7958169.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
}

#titulo, #spanConsulta {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.503);
}

.hide {
   display: none;
}

#form_container, #data_container {
    opacity:70%;
}

